/* Full sheet styling */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    /* targets the entire doc */
    margin: 0;
    padding: 0;
}

body{
    /* targets the body */
    font-family: 'Poppins', sans-serif;
}

html{
    /* targets the html file? */
    scroll-behavior: smooth;
}

p{
    /* targets all paragraphs */
    color: rgb(85, 85,85);
}

/* Transition */

a, .btn{
    /* targets all links and buttons */
    transition: all 300ms ease;
}

/* Navigation */

nav, .nav-links{
    /* targets the nav section and the id nav-links */
    display: flex;
}

nav{
    /* targetst the nav section */
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    /* view height (vh) is a percentage of the pixels on the screen */
    /* in this case it is 17% of all the pixels of the screen */
}

.nav-links{
    /* targets id nav links */
    gap: 2rem;
    /* rems are a unit of measurement that is related to pixels */
    /* default for p is 1rem */
    list-style: none;
    /* this gets rid of the bullet points in the list */
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    /* this targets when we hover over links */
    color: grey;
    text-decoration: underline;
    /* when hovering the link gets underlined */
    text-underline-offset: 1rem;
    /* adjusts how close the underline is to the link */
    text-decoration-color: rgb(181,181,181);
}

.logo{
    /* targets the id logo */
    font-size: 2rem;
}

.logo:hover{
    /* targets when hovering the id logo */
    cursor: default;
    /* sets the look of the cursor back to regular when hovering id logo */
}

/* Section Styling */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Profile Styling */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.pfp {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.profile-info {
    align-self: center;
    text-align: center;
}

.profile-info p {
    font-weight: 600;
}

.profile-line-1 {
    text-align: center;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.name {
    font-size: 3rem;
    text-align: center;
}

#social-btns {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icon Styling */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Button Styling */

.profile-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.cv-btn, .contact-btn {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.cv-btn:hover, .contact-btn:hover {
    cursor: pointer;
}


.cv-btn:hover, .contact-btn {
    background-color: rgb(53, 53, 53);
    color: white;
}

.contact-btn:hover {
    background-color: rgb(0, 0, 0);
}

.cv-btn {
    background: none;
}

.cv-btn:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.profile-btns {
    gap: 1rem;
}

/* About Section */

/* #about {
    position: relative;
}

.ee-boxes {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-boxes {
    justify-content: center;
    flex-direction: column;
}

.ee-boxes, .about-boxes {
    display: flex;
}

.about-pfp {
    border-radius: 2rem;
}

.arrow-icon {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.about-box {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.about-section {
    gap: 4rem;
    height: 80%;
}

.about-photo {
    height: 400px;
    width: 400px;
    margin: auto 0;
} */
