/******************************************
/* BASE STYLES
/*******************************************/
body,
ul,
p,
h1,
h2 {
     margin: 0;
     padding: 0;
}

body {
     background-color: #CAD2C5;
     color: #2F3E46;
     font-family: "Zilla Slab", "Roboto", serif;

}

ul {
     list-style: none;
}

a {
     color: #2F3E46;
     text-decoration: none;
}

button {
     font-family: "Zilla Slab", "Roboto", serif;
}

* {
     box-sizing: border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/

/* nav styling */
header {
     display: flex;
     align-items: center;
     height: 100px;
     padding: 0 50px;
     /* border-bottom: 1px solid #2F3E46; */

     /* font-family: "Roboto", serif; */
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
}

.leftNavContainer,
.rightNavContainer {
     display: flex;
     flex-direction: row;
}

.leftNavContainer {
     width: 400px;
}

.logoContainer {
     height: 100%;
}

.logo {
     height: 46px;
     width: 46px;
}

.navContainer {
     display: flex;
     align-items: center;
     width: 100%;
     padding: 0 0 0 25px;
}

.navContainer ul {
     display: flex;
     justify-content: space-around;
     width: 100%;
}

.rightNavContainer {
     display: flex;
     justify-content: space-between;
     width: 300px;
}

.iconContainer {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
}

.resumeButton {
     padding: 12px 10px;
     border: 1px solid black;
     border-radius: 10px;
}

/* main styling */
#entirePage {
     margin: 0 100px;
}

/* landingPage styling */
#landingPage {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: calc(100vh - 100px);
     margin: 0 200px;
}

.landingLine1 {
     font-size: 30px
}

.landingLine2 {
     font-size: 80px;
}

.landingLine3 {
     font-size: 40px;
     width: 50%;
}

.landingLine3 span {
     font-weight: 700;
}